#section1{
    background-color: rgb(238, 0, 90);
}
#section2{
    background-color: rgb(44, 62, 80);
}
#section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: white;
}
.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

   
  .mainheading{
       font-family: "Montserrat", sans-serif}
       h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 14px;
}
a{
    color:black;
}

a:hover{
    text-decoration: none;
    background:red;
    padding:2%;
    border-radius:20px;
}
 
 
 ul li {
    list-style:none;
 }
 
 ul li {
     display:inline;
     margin:20px;
     
 }
 
 ul{
     text-align:center;
 }